@use "../../styles/breakpoints" as bp;
@use "../../styles/mixins" as mxs;

.root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background: var(--black-5);
}

.wrapper {
  flex: 1;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr;

  @include bp.min-lg {
    grid-template-columns: 1fr mxs.rem(376);
  }

  &Start {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &End {
    display: none;

    @include bp.min-lg {
      display: flex;
      background: var(--white-100);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1440px;
  padding-inline: 1rem;
  padding-block-start: 1rem;
  flex-grow: 1;
  padding-block-end: 1.5rem;

  @include bp.min-lg {
    padding-inline: 5rem;
    padding-block-end: mxs.rem(122);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include bp.min-lg {
    display: none;
  }
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  padding-block-start: 6rem;
  margin-block-end: 1rem;

  @include bp.min-lg {
    text-align: left;
    font-size: 2rem;
    padding-block-start: mxs.rem(133);
  }
}

.answersList {
  display: grid;
  row-gap: 0.5rem;
  margin-block-start: auto;
  overflow: visible;
  margin-inline: -1rem;
  max-width: mxs.rem(844);

  @include bp.min-sm {
    margin-inline: auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    width: 100%;
  }

  @include bp.min-lg {
    margin-inline: 0;
  }
}

.confirmButton {
  margin-block-start: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white-100);
  background: var(--orange-100);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  align-self: flex-start;
}

.confirmButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Burger menu (mobile) */
.burgerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.burgerLine {
  display: block;
  width: 100%;
  height: 0.125rem;
  background: var(--black-100);
  border-radius: 1px;
}
