@use "../../styles/mixins" as mxs;

.button {
  font-size: 0.875rem;
  line-height: 1.16;
  padding: 1.5rem 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--orange-100);
  color: var(--white-100);
  text-decoration: none;
  transition:
    background 0.15s ease,
    transform 0.15s ease;
  border-radius: 0.5rem;
  font-weight: 600;
  -webkit-tap-highlight-color: transparent;

  @media (min-width: 768px) {
    border-radius: 0.75rem;
    font-size: 1.25rem;
    padding: 1.25rem 2.5rem;
  }
}

.button:active {
  background: var(--orange-120);
  transform: scale(0.98);
}

.button:hover {
  @include mxs.pointer-fine {
    background: var(--orange-80);
  }
}
