@use "sass:math";

// Convert pixels to rem (default base: 16px)
@function rem($pixels, $context: 16) {
  @return math.div($pixels, $context) * 1rem;
}

@mixin pointer-fine {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}
