@import "modern-normalize/modern-normalize.css";

:root {
  /* Respect user's browser default so rem scales with their font-size preference 100% = 1rem = 16px by default */
  font-size: 100%;

  /* Orange */
  --orange-120: #e87928;
  --orange-100: #ff8b37;
  --orange-80: #ffac70;
  --orange-5: #fff3eb;

  /* Green */
  --green-100: #47d867;
  --green-5: #e6faea;

  /* Red */
  --red-100: #ec6259;
  --red-5: #fdeeed;

  /* Black */
  --black-100: #1c1c21;
  --black-40: #d0d0d8;
  --black-5: #f5f5f7;

  --gray-40: #88888c;

  /* White */
  --white-100: #ffffff;
}

body {
  color: var(--black-100);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.16;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
