@use "../styles/breakpoints" as bp;

.root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  /* Diagonal split: white triangle (top-left), orange triangle (bottom-right) */
  background: linear-gradient(
    to bottom right,
    var(--white-100) 50%,
    var(--orange-5) 50%
  );
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1440px;
  margin-inline: auto;
  padding: 5rem 1rem 3rem;
  gap: 1.5rem;

  @include bp.min-md {
    align-items: center;
    padding: 0 2rem;
    flex-direction: row;
    gap: 2rem;
  }

  @include bp.min-lg {
    padding: 0 5rem;
  }
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 288px;
  height: 192px;
  margin-inline: auto;

  @include bp.min-md {
    width: 452px;
    height: 357px;
  }
}

.image {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  line-height: 1.16;
  margin: 0;

  @include bp.min-md {
    font-size: 3.5rem;
    text-align: left;
    margin-bottom: 4rem;
  }
}

.button {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 28rem;

  @include bp.min-md {
    margin: 0;
    max-width: 18.5rem;
  }
}
