.burgerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.burgerLine {
  display: block;
  width: 100%;
  height: 0.125rem;
  background: var(--black-100);
  border-radius: 1px;
}
