@use "../../../../styles/breakpoints" as bp;
@use "../../../../styles/mixins" as mixins;

.button {
  --button-stroke: var(--black-40);
  --button-fill: var(--white-100);

  font-size: 0.875rem;
  position: relative;
  width: 100%;
  height: 56px;
  padding-inline: 3rem;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: var(--black-100);
  -webkit-tap-highlight-color: transparent;
  transition:
    color 0.2s ease,
    background 0.2s ease;

  @include bp.min-md {
    height: 72px;
    font-size: 1.25rem;
    padding-inline: 3.5rem;
  }
}

.svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.svg path {
  transition:
    stroke 0.2s ease,
    fill 0.2s ease;
}

.content {
  position: relative;
  z-index: 1;
}

.label {
  color: var(--orange-100);
  font-weight: 600;
  padding-inline-end: 0.5rem;
}

.button:hover {
  @include mixins.pointer-fine {
    color: var(--black-100);
    --button-stroke: var(--orange-100);
  }
}

/* selected */
.button.selected {
  --button-stroke: var(--orange-100);
  --button-fill: var(--orange-5);
  color: var(--black-100);
}

/* correct */
.button.correct {
  --button-stroke: var(--green-100);
  --button-fill: var(--green-5);
  color: var(--black-100);
}

/* wrong */
.button.wrong {
  --button-stroke: var(--red-100);
  --button-fill: var(--red-5);
  color: var(--black-100);
}
